{% extends "template.html" %}
{% block content %}
    <form method="POST" action="{{ url_for('authenticate') }}">
        {{ form.csrf_token }}
        <input type="hidden" name="next_page" value="{{ next_page }}">
        <div class="form-group inputBox">
            {{ form.user.label(class="form-label") }}
            {{ form.user(class="form-control") }}
        </div>
        <div class="form-group inputBox">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
        </div>
        <div class="form-group buttons">
            {{ form.submit(class="btn btn-primary") }}
            <a class="btn btn-danger" href="{{ url_for('index') }}">Back</a>
        </div>
    </form>
{% endblock %}